<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="img/rpsimg/favicon-32x32.png" />
    <link rel="stylesheet" href="css/game.css" />
    <title>Rock Paper Scissors Game</title>
    <script src="js/game.js" defer></script>
  </head>
  <body class="preload">
    <div class="container">
      <header class="header">
        <img src="img/rpsimg/logo.svg" alt="logo" class="logo" />
        <div class="score">
          <div class="score__title">score</div>
          <div class="score__number">0</div>
        </div>
      </header>

      <section class="game">
        <button class="choice-btn" data-choice="paper">
          <div class="choice paper">
            <img src="img/rpsimg/icon-paper.svg" alt="Paper" />
          </div>
        </button>
        <button class="choice-btn" data-choice="scissors">
          <div class="choice scissors">
            <img src="img/rpsimg/icon-scissors.svg" alt="Scissors" />
          </div>
        </button>
        <button class="choice-btn" data-choice="rock">
          <div class="choice rock">
            <img src="img/rpsimg/icon-rock.svg" alt="Rock" />
          </div>
        </button>
      </section>
    </div>

    <section class="results hidden">
      <h2 class="results__heading">you picked</h2>
      <h2 class="results__heading">the house picked</h2>
      <div class="results__result"></div>
      <div class="results__winner hidden">
        <h3 class="results__text"></h3>
        <button class="play-again">play again</button>
      </div>
      <div class="results__result"></div>
    </section>
    <button class="ds-btn"><a href="/dashboard">Dashboard</a></button>
    <button class="rules-btn" tabindex="1">rules</button>
    <div class="modal">
      <div class="modal__container">
        <header class="modal__header">
          <h2 class="modal__heading">rules</h2>
          <button class="close-btn">
            <img src="img/rpsimg/icon-close.svg" alt="Close Button" />
          </button>
        </header>
        <img src="img/rpsimg/image-rules.svg" alt="Rules Image" class="rules-img" />
      </div>
    </div>

    <footer class="footer">
      <div class="attribution">
        Challenge by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frondend Mentor</a>. Coded by <a>Tougoss Samosir</a>
      </div>
    </footer>
  </body>
</html>
