<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Bootstrap-->
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="css/styles.css">
  <title>Tougoss Challenge 3</title>
</head>

<body>
  <!--Start Navbar-->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark customnav">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="img/logo.png" alt="" width="40" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item px-2">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" href="#gallery-page">Work</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" href="#newsletter">Contact</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" href="#">About Me</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item px-2">
              <a class="nav-link" href="/register">Sign Up</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!--End Navbar-->

  <!--Start Main Page-->
  <section class="jumbotron jumbotron-fluid main-page">
    <div class="container">
      <h1>PLAY TRADITIONAL GAME</h1>
      <p>Experience new traditional game play</p>
      <p><button type="button" class="btn btn-warning"><a href="/login">PLAY NOW</a></button></p>
      <div class="the-story">
        <div class="py-2">THE STORY</div>
        <a href="#gallery-page">
          <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
            class="bi bi-arrow-down-circle pointer-cursor" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
          </svg>
        </a>
      </div>
    </div>
  </section>
  <!--End Main Page-->

  <!--Start Gallery-->
  <section class="jumbotron jumbotron-fluid gallery-page" id="gallery-page">
    <div class="container">
      <div class="row mx-auto">
        <div class="col-sm-4">
          <p>What's so special?</p>
          <h1>THE GAMES</h1>
        </div>
        <div class="col-sm-8">
          <div id="carousel-gallery" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel-gallery" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carousel-gallery" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carousel-gallery" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carousel-gallery" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="First Slide">
              </div>
              <div class="carousel-item">
                <img src="img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="Second Slide">
              </div>
              <div class="carousel-item">
                <img src="img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="Third Slide">
              </div>
              <div class="carousel-item">
                <img src="img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="Fourth Slide">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-gallery" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-gallery" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!--End Gallery-->

  <!--Start Game Features-->
  <section class="jumbotron jumbotron-fluid game-features">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-md-6">
          <p>What's so special?</p>
          <h1>FEATURES</h1>
          <div class="step completed">
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>

            <div class="content">
              <h2>TRADITIONAL GAMES</h2>
              <h3>If you miss your childhood, we provide many traditional games here</h3>
            </div>
          </div>

          <!-- active -->
          <div class="step active">
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>

            <div class="content">
              <h2>GAME SUIT</h2>
            </div>
          </div>

          <!-- empty -->
          <div class="step empty">
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>

            <div class="content">

            </div>
          </div>

          <!-- regular -->
          <div class="step">
            <div class="v-stepper">
              <div class="circle"></div>
              <div class="line"></div>
            </div>

            <div class="content">
              <h2>TBD</h2>
            </div>
          </div>

        </div>
  </section>
  <!--End Game Features-->

  <!--Start System Requirements-->
  <section class="jumbotron jumbotron-fluid syst-req">
    <div class="container">
      <div>
        <h4>Can My Computer Run This Game?</h4>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h1>SYSTEM <br />REQUIREMENTS</h1>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>
                  <h2>OS:</h2><br />
                  <h3>Windows 7 64-bit only (No OSX support at this time)</h3>
                </td>
                <td>
                  <h2>PROCESSOR:</h2><br />
                  <h3>Intel Core 2 Duo @ 2.4 Ghz or AMD Athlon X2 @ 2.8 GHz</h3>
                </td>
              </tr>
              <tr>
                <td>
                  <h2>MEMORY:</h2><br />
                  <h3>4 GB RAM</h3>
                </td>
                <td>
                  <h2>STORAGE:</h2><br />
                  <h3>8 GB Avaliable Space</h3>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <h2>GRAPHICS:</h2>
                  <h3>NVIDIA GeForce GTX 660 2GB or <br /> AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</h3>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!--End System Requirements-->

  <!--Start Top Scores-->
  <section class="topscores">
    <div class="container">
      <div class="topscoresleft">
        <h1>TOP SCORES</h1>
        <p>This top score from various games provided on this platform</p>
        <button class="btn btn-warning">See More</button>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 offset-lg-8 offset-md-3 offset-sm-2 twittercards">
          <div class="card text-white bg-dark mb-2">
            <div class="card-header">
              <img src="img/evan-lahti.jpg" class="img-fluid float-left profilepic" alt="Evan Lahti" />
              <h3>Evan Lahti</h3>
              <h4>PC Gamer</h4>
              <img src="img/twitter-1.svg" img-fluid float-right twitterlogo" alt="twitterlogo" />
            </div>
            <div class="card-body">
              <h5 class="card-title">
                "One of my gaming highlights of the year."
              </h5>
              <p class="card-text">October 18, 2018</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 offset-lg-6 offset-md-3 offset-sm-2 twittercards">
          <div class="card text-white bg-dark mb-2">
            <div class="card-header">
              <img src="img/jada-griffin.jpg" class="img-fluid float-left profilepic" alt="Jada Griffin" />
              <h3>Jada Griffin</h3>
              <h4>Nerdreactor</h4>
              <img src="img/twitter-1.svg" class="img-fluid float-right twitterlogo" alt="twitterlogo" />
            </div>
            <div class="card-body">
              <h5 class="card-title">
                "The next big thing in the world of streaming and survival
                games."
              </h5>
              <p class="card-text">December 21, 2018</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 offset-lg-7 offset-md-3 offset-sm-2 twittercards">
          <div class="card text-white bg-dark mb-1">
            <div class="card-header">
              <img src="img/aaron-williams.jpg" class="img-fluid float-left profilepic" alt="Aaron Williams" />
              <h3>Aaron Williams</h3>
              <h4>Uproxx</h4>
              <img src="img/twitter-1.svg" class="img-fluid float-right twitterlogo" alt="twitterlogo" />
            </div>
            <div class="card-body">
              <h5 class="card-title">
                "Snoop Dogg Playing The Wildly Entertaining 'SOS' Is
                Ridiculous
              </h5>
              <p class="card-text">December 24, 2018</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Top Scores-->

  <!--Start Newsletter-->
  <section class="jumbotron jumbotron-fluid d-flex align-items-center newsletter" id="newslettercontent">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-6 offset-md-6 text-left nstext">
          <h3>Want to stay in touch?</h3>
          <h1>Newsletter Subscribe</h1>
          <p>
            In case to start receiving our news, all you have to do is enter
            your email address. Everything else will be taken care of you. We
            will send you emails containing information about game. We don't
            spam.
          </p>
        </div>
        <div class="col-md-6 offset-md-6 text-left">
          <div class="inline-grid">
            <div class="background-box">
              <label class="text-top-email">Your email address</label>
              <input type="text" class="text-input-email" placeholder="youremail@binar.co.id">
            </div>
            <button type="button" class="btn btn-warning btn-custom">Subscribe now</button>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--End Newsletter-->

  <footer>
    <div class="padding-top-footer-content">
      <ul class="nav justify-content-end">
        <li class="nav-item custom-nav-item">
          <a class="nav-link " href="#">MAIN</a>
        </li>
        <li class="nav-item custom-nav-item">
          <a class="nav-link" href="#">ABOUT</a>
        </li>
        <li class="nav-item custom-nav-item">
          <a class="nav-link" href="#">GAME FEATURES</a>
        </li>
        <li class="nav-item custom-nav-item">
          <a class="nav-link " href="#">SYSTEM REQUIREMENT</a>
        </li>
        <li class="nav-item custom-nav-item">
          <a class="nav-link " href="#">QUOTES</a>
        </li>
        <li class="nav-item custom-nav-item">
          <a class="nav-link " href="#">
            <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M6.65382 19.1726H2.56282V9.67859H0.517822V6.40559H2.56282V4.44159C2.56282 1.77259 3.71782 0.183594 6.99582 0.183594H9.72582V3.45659H8.02082C6.74282 3.45659 6.65882 3.91459 6.65882 4.76859L6.65382 6.40559H9.74582L9.38382 9.67859H6.65382V19.1726Z"
                fill="white"></path>
            </svg>
          </a>
        </li>
        <li class="nav-item custom-nav-item">
          <a class="nav-link " href="#">
            <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M21.2138 2.42967C20.4408 2.75167 19.6098 2.96667 18.7388 3.06467C19.6288 2.56467 20.3118 1.77267 20.6338 0.830668C19.7998 1.29267 18.8778 1.62867 17.8958 1.81067C17.1108 1.02467 15.9898 0.534668 14.7508 0.534668C12.3708 0.534668 10.4398 2.34367 10.4398 4.57367C10.4398 4.89067 10.4778 5.19967 10.5518 5.49467C6.96981 5.32567 3.79381 3.71767 1.66781 1.27467C1.29681 1.87167 1.08481 2.56467 1.08481 3.30567C1.08481 4.70567 1.84581 5.94367 3.00181 6.66767C2.29581 6.64567 1.63181 6.46467 1.04981 6.16167C1.04981 6.17967 1.04981 6.19467 1.04981 6.21367C1.04981 8.17067 2.53481 9.80267 4.50681 10.1737C4.14581 10.2657 3.76381 10.3137 3.37181 10.3137C3.09381 10.3137 2.82381 10.2897 2.56081 10.2437C3.10881 11.8467 4.70081 13.0157 6.58681 13.0487C5.11181 14.1317 3.25381 14.7767 1.23381 14.7767C0.885811 14.7767 0.542811 14.7577 0.205811 14.7207C2.11281 15.8657 4.37881 16.5357 6.81281 16.5357C14.7408 16.5357 19.0758 10.3797 19.0758 5.04267C19.0758 4.86667 19.0708 4.69367 19.0628 4.51967C19.9048 3.94967 20.6358 3.23867 21.2138 2.42967Z"
                fill="white"></path>
            </svg>
          </a>
        </li>
        <li class="nav-item custom-nav-item">
          <a class="nav-link " href="#">
            <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M20.61 0.183594H5.98961C3.12627 0.183594 0.799805 2.55085 0.799805 5.4644V12.8973C0.799805 15.8163 3.12627 18.1781 5.98961 18.1781H20.6046C23.4733 18.1781 25.7944 15.8108 25.7944 12.8973V5.4644C25.7998 2.55085 23.4733 0.183594 20.61 0.183594ZM17.0959 9.54779L10.2575 12.8642C10.0731 12.9524 9.86705 12.82 9.86705 12.6103V5.7679C9.86705 5.55821 10.084 5.42578 10.2629 5.51958L17.1013 9.04564C17.3074 9.15048 17.302 9.44846 17.0959 9.54779Z"
                fill="#FF1313"></path>
            </svg>
          </a>
        </li>
        <li class="nav-item custom-nav-item">
          <a class="nav-link " href="#">
            <img src="img/twitch.svg" />
          </a>
        </li>
      </ul>
    </div>
    <div class="d-inline">
      <div class="container new-border">
        <div class="row">
          <div class="col-sm copy-right">
            © 2018 Your Games, Inc. All Rights Reserved
          </div>
          <div class="col-sm">
            <span class="float-right color-bottom-navigation">
              <a class="col-3" href="">Privacy Policy</a> |
              <a class="col-3" href="">Term of Service</a> |
              <a class="col-3" href="">Code of Conduct</a>
            </span>
          </div>
        </div>
      </div>

    </div>

  </footer>

</body>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/game.js"></script>

</html>