<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/login.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <a href="/"><img src="img/logo.png" alt="logo" width="60px" height="60px" class="logo" /></a>
    </header>
    <div class="center">
      <h1>Login</h1>
      <form method="POST">
        <div class="txt_field">
          <input type="text" name="username" required />
          <span></span>
          <label for="username">Username</label>
        </div>
        <div class="txt_field">
          <input type="email" name="email" required />
          <span></span>
          <label for="email">Email</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password" required />
          <span></span>
          <label for="password">Password</label>
        </div>
        <div class="check_field">
          <input type="checkbox" name="isAdmin" value="true" />
          <label for="isAdmin">Is Admin?</label>
          <span></span>
        </div>

        <!-- <div class="pass">Forgot Password</div> -->
        <input type="submit" value="Register" />
        <div class="signup_link"><a href="#"></a></div>
      </form>
    </div>
  </body>
</html>
