body,
html {
  color: white;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

/*Start Navbar*/
.customnav {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #ffc107;
  position: fixed !important;
  z-index: 1;
  padding: 1rem 7rem;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

/*End Navbar*/

/*Start Main Page*/

.main-page {
  background-image: url("../img/main-bg.jpg");
  background-color: #cccccc;
  height: 968px;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-page .container h1 {
  text-align: center;
  color: #fff;
  padding: 14rem 0rem 2rem;
  font-weight: 700;
  font-size: 4.5rem;
}

.main-page .container p {
  margin-top: 30px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.main-page .container button {
  margin-top: 30px;
  text-align: center;
  padding: 20px 70px;
  font-size: 14px;
  font-weight: 600;
}

.main-page .container button a {
  text-decoration: none;
}

.the-story {
  text-align: center;
  padding-top: 20%;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

/*End Main Page*/

/*Start Gallery*/
.gallery-page {
  background-image: url("../img/the-games-bg.jpg");
  background-color: #cccccc;
  height: 968px;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-page .container {
  padding: 15rem 0rem;
}

.gallery-page .container h1 {
  font-size: 4.25rem;
}

.gallery-page .container p {
  font-weight: 600;
  font-size: 1.5rem;
}

/*End Gallery*/

/*Start Game Features*/
.game-features {
  background-image: url("../img/features.jpg");
  background-color: #000000;
  height: 968px;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.game-features .col-md-6 {
  text-align: left;
  margin-top: 10vh;
}

.game-features p {
  font-size: 24px;
}

.game-features h1 {
  font-size: 56px;
}

.game-features h2 {
  color: #FFB548;
  font-size: 24px;
}

.game-features h3 {
  font-size: 18px;
}

.step {

  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  background-color: cream;
}

.v-stepper {
  position: relative;
  /*   visibility: visible; */
}


/* regular step */
.step .circle {
  background-color: #000;
  border: 3px solid #fff;
  border-radius: 100%;
  width: 26px;
  /* +6 for border */
  height: 26px;
  display: inline-block;
}

.step .line {
  top: 23px;
  left: 12px;
  /* height: 200px; */
  height: 100%;

  position: absolute;
  border-left: 3px solid white;
}

.step.completed .circle {
  visibility: visible;
  background-color: #fff;
  border-color: #fff;
}

.step.completed .line {
  border-left: 3px solid rgb(255, 255, 255);
}

.step.active .circle {
  visibility: visible;
  border-color: #fff;
}

.step.empty .circle {
  visibility: hidden;
}

.step.empty .line {
  /*     visibility: hidden; */
  /*   height: 150%; */
  top: 0;
  height: 150%;
}


.step:last-child .line {
  border-left: 3px solid white;
  z-index: -1;
  /* behind the circle to completely hide */
}

.content {
  margin-top: -40px;
  margin-left: 20px;
  padding: 40px 0;
  display: inline-block;
}

/*End Game Features*/

/*Start System Requirements*/
.syst-req {
  background-image: url("../img/requirements.png");
  background-color: #cccccc;
  height: 968px;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10vh 0px;
}

.syst-req h1 {
  font-size: 56px;
  text-align: left;
  margin-top: 30px;
}

.syst-req h2 {
  font-size: 24px;
  color: #FFB548;
  text-align: left;
}

.syst-req h3 {
  font-size: 18px;
  color: #fff;
}

.syst-req h4 {
  font-size: 16px;
  text-align: center;
}

/*End System Requirements*/

/*Start Top Scores*/
.topscores {
  background-image: url("../img/score-bg.jpg");
  background-color: #000;
  height: 968px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  padding: 10vh 0px;
}

.topscoresleft h1 {
  margin-top: 100px;
  font-size: 65px;
}

.topscoresleft p {
  font-size: 18px;
}

.topscoresleft button {
  padding: 10px 30px;
  width: 210px;
  font-size: 16px;
  font-weight: bold;
}

.topscores .twittercards .card {
  border: none;
}

.topscores .twittercards .card-header {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: none;
  text-align: left;
  position: relative;
  padding-bottom: 0;
}

.topscores .twittercards .card-header .profilepic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 2px #ffc107;
  box-shadow: 5px 2px #ffc107;
}

.topscores .twittercards .card-header h3 {
  font-size: 12px;
  color: #ffc107;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 50px;
  margin-bottom: 0;
  margin-top: 3px;
}

.topscores .twittercards .card-header h4 {
  font-size: 10px;
  color: grey;
  margin-left: 50px;
  margin-bottom: 0;
}

.topscores .twittercards .card-header .twitterlogo {
  position: absolute;
  right: 16px;
  top: 16px;
}

.topscores .twittercards .card-body {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
}

.topscores .twittercards h5 {
  font-size: 12px;
}

.topscores .twittercards p {
  font-size: 10px;
  color: grey;
}

/*End Top Scores*/

/*Start News Letter*/
.newsletter {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(10%, transparent), color-stop(90%, transparent), to(black)), url(../img/newsletter-bg.jpg);
  background-image: linear-gradient(black 0%, transparent 10%, transparent 90%, black 100%), url(../img/newsletter-bg.jpg);
  text-align: left;
  background-size: cover;
  height: 968px;
}

.newsletter .nstext h3 {
  font-size: 24px;
  margin-top: 10vh;
  font-family: Arial, Helvetica, sans-serif;
}

.newsletter .nstext h1 {
  font-size: 65px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.newsletter .nstext p {
  font-size: 18px;
  text-align: justify;
}

.background-box {
  background-color: #222;
  border-radius: 5px;
  width: 350px;
}

.btn-custom {
  margin: 0px 20px;
  width: 250px;
  font-weight: 700;
}

.newsletter-box {
  color: #fff;
}

.inline-grid {
  display: inline-flex;
}

.text-top-email {
  font-size: 12px;
  color: #ddd;
  display: grid;
  padding: 10px 10px 0px;
}

.text-input-email {
  background: #222;
  padding: 0px 10px 10px;
  border: 1px solid #222;
  border-radius: 5px;
  color: #fff;
  width: 100%;
}

.newletter .inline-show {
  display: inline-flex;
}

::-webkit-input-placeholder {
  color: #ffc107 !important;
}

:-ms-input-placeholder {
  color: #ffc107 !important;
}

::-ms-input-placeholder {
  color: #ffc107 !important;
}

::placeholder {
  color: #ffc107 !important;
}

/*End News Letter*/

/*Start Footer*/

footer {
  background-color: #000;
}

.position-right {
  float: right;
}

/* custom utilities */
textarea:focus,
input:focus {
  outline: none;
}

.pointer-cursor {
  cursor: pointer;
}

.custom-nav-item {
  font-weight: 500;
  padding: 0px 20px;
  font-size: 14px;
}

.list-style-type {
  list-style-type: none;
  text-transform: uppercase;
}

.padding-top-footer-content {
  padding: 30px 60px;
}

.new-border {
  border-top: 1px solid #fff;
}

.float-right {
  float: right;
}

.color-bottom-navigation {
  color: #fff;
  padding: 30px;
}

.color-bottom-navigation>a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.copy-right {
  padding: 30px;
  color: #fff;
}

.special-font-h5 {
  color: #fff;
  font-weight: 400;
}

.special-font-h1 {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.color-white {
  color: #fff;
}

.nav-link {
  color: #fff;
  text-align: left;
}

.nav-link:hover {
  color: #ffc107;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #ffc107 !important;
  color: #000;
}

/*End Footer*/